body {
  font-family: "Work Sans", sans-serif;
}

.banner-img-1 {
  background-image: url("./images/baner5.jpg");
  background-size: cover;
  height: 75vh;
}

.banner-img-2 {
  background-image: url("./images/624b4890bd1805cb55fd0784_10\ key\ bg.jpeg");
  background-size: cover;

  height: 75vh;
}
.banner-img-3 {
  background-image: url("./images/baner5.jpg");
  height: 75vh;
  background-size: cover;
}
.interior {
  color: #dfb281;
}
.architect-img {
  height: 400px;
  width: 400px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.Architect-background-img {
  background-image: url("./images/Screenshot_1@2x.png");
  background-repeat: no-repeat;
}

.btn-quote {
  padding: 5px 5px 5px 5px;
  background-image: url("./images/Group\ 26.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  width: 171px;
  height: 50px;
}
.btn-explore {
  padding: 10px 20px 10px 20px;
  background-image: url("./images/Group\ 26.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 200px;
  height: 55px;
}
.number-25 {
  width: 104px;
  height: 120px;
  font-size: 90px;
}
.contact-blog {
  background-image: linear-gradient(
      to left,
      rgba(15, 1, 1, 0.445),
      rgba(8, 0, 0, 0.774)
    ),
    url("./images/architect-jd.jpg");
  height: 30vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-message {
  background-color: #cda274;
  border: none;
  color: beige;
}

.mark-polo {
  background-image: linear-gradient(
      to left,
      rgba(15, 1, 1, 0.445),
      rgba(8, 0, 0, 0.774)
    ),
    url("./images/photos-one/istockphoto-1137116408-612x612.jpg");
  width: 1903px;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 27px;
}

.image-one {
  position: absolute;
  top: 73px;
  left: 251px;
}
.image-two {
  position: absolute;
  top: 230px;
  left: 137px;
}
.image-three {
  position: absolute;
  left: 215px;
  bottom: 30px;
}
.image-four {
  position: absolute;
  top: 73px;
  right: 251px;
}
.image-five {
  position: absolute;
  top: 215px;
  right: 157px;
}
.image-six {
  position: absolute;
  right: 235px;
  bottom: 30px;
}
.navbar-container {
  position: absolute;
  left: 0%;
  top: 10px;
}
.mark-polo-bottom-section {
  position: absolute;
  left: 300px;
  top: 60px;
}

@media only screen and (max-width: 841px) {
  .image-five,
  .image-four,
  .image-one,
  .image-six,
  .image-three,
  .image-two {
    display: none;
  }
}
